@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg: #131319;
  --card-bg: #27292D;
  --grey-color: #6B6C70;
  --label-color: #C5C7CA;
  --input-border: #35373B;
  --placeholder-color:#7F8084;
  --button-bg: #4A96FF;
  --para-color: #7F8084;
  --textarea-bg: #191920;
}
body{
  font-family: "Inter", sans-serif;
}
/* ---- Login CSS ------ */
.loginCard {
  max-width: 460px;
  min-width: 460px;
  position: relative;
  background: linear-gradient(129.59deg, #969696 0%, #343434 98.18%);
  padding: 2px;
  border-radius: 4px;
}
.loginForm{
  border-radius: 4px;
}
.loginForm input[type="text"],
.loginForm input[type="password"]{
  border: 1.5px solid var(--input-border);
  background: transparent;
}
.loginForm input::placeholder{
  color: var(--placeholder-color);
}
/* ---- Home CSS ------ */
.homeContainer{
  max-width: 700px;
  min-width: 700px;
}
.newPost,
.comment{
  border: 2px solid var(--input-border);
}
textarea {
  resize: none;
}
.homePage textarea::placeholder{
  color: var(--placeholder-color);
}
.modal {
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

@media screen and  (max-width: 768px) {
  .homeContainer {
    max-width: 100%;
    min-width: 100%;
    padding: 15px;
}
.loginCard {
  max-width: 100%;
  min-width: 100%;
  position: relative;
}
}
